<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="static\simple.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- plotly CDN -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    {% if title %}
        <title>ADK-{{title}}</title>
    {% else %}
        <title>ADK</title>
    {% endif %}


</head>
<body>
    <header>
    <h5>Wykres sygnału fonokardiograficznego zarejestrowanego urządzeniem komórkowym</h5>
    </header>

    <div>
    <div id="chart1"></div>
        <p>
            Wykres 1
        </p>

    <script type="text/javascript">
        const graph1 = {{ graph1JSON | safe }};
        Plotly.plot("chart1", graph1, {});
    </script>
    </div>
</body>
</html>