<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="static\simple.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- plotly CDN -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    {% if title %}
        <title>ADK-{{title}}</title>
    {% else %}
        <title>ADK</title>
    {% endif %}


</head>
<body>
    <header>
    <h5>Wykresy sygnału fonokardiograficznego zarejestrowanego urządzeniem komórkowym</h5>
    </header>

    <div>
    <div id="chart1" style="width: 800px; height: 500px; "></div>

    <div id="chart2" style="width: 800px; height: 500px; "></div>


    <script type="text/javascript">
        const graph1 = {{ graph1JSON | safe }};
        Plotly.plot("chart1", graph1, {});

        const graph2 = {{ graph2JSON | safe }};
        Plotly.plot("chart2", graph2, {});
    </script>
    </div>
</body>
</html>