<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="static\simple.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>ADK-{{title}}</title>
    {% else %}
        <title>ADK</title>
    {% endif %}
</head>
<body>
  <header>
    <h3>Projekt zaliczeniowy z przedmiotu Analiza danych w kardiologii</h3>
    <p>Marcelina Baranowska WME19BC1S1</p>
  </header>

  <div style="margin: 0 auto">
      <main>
        <p>Aplikacja umożliwiająca wizualizację oraz odsłuch sygnału fonokardiograficznego.</p>
          <a href="http://127.0.0.1:5000/audio"><p style="text-align:center">Odsłuch</p></a>
          <a href="http://127.0.0.1:5000/1plot"><p style="text-align:center">Wykresy</p></a>
  </main>
  </div>


  <footer>
    <p></p>
  </footer>
</body>
</html>